backend/app/__pycache__

botv4
backend/bot.pem
backend/resource
backend/.env
backend/notebook/indexed_docs.json
backend/notebook/test.md
backend/app/indexed_docs.json
backend/app/prompts.py 
backend/app/test.html
backend/app/aayushmaan.md

backend/ec2.txt
backend/app/audio_files
backend/app/voice/__pycache__
backend/app/testing.txt
backend/app/truth.jsonl
.DS_Store
.DS_Stores
